@media only screen and (max-width: 600px) {
    .App{
        margin-top: 15%;
    }

    .login-box {
        text-align: center;
    }

    .login-box input {
        text-align: center;
        outline: none;
        margin-top: 2%;
        border: none;
        border-bottom: 1px solid black;
    }

    .login-box button {
        margin-top: 10px;
        border: 1px solid black;
    }

    .navigator {
        position: absolute;
        margin-left: -8px;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: black;
    }

    .navigator a{
        text-decoration: none;
        color: white;
    }

    .navigator img{
        width: 100%;
    }
    
    .notes {
        list-style: none;
    }

    .notes li {
        border: 1px solid black;
        width: 90%;
        margin-top: 1%;
    }

    .header{
        background-color: black;
        height: 50px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
    }

    .header .left{
        float: left;
        width: 25%;
        font-size: 1.5em;
        text-align: center;
        line-height: 50px;
    }

    .header .right {
        float: right;
        width: 25%;
        font-size: 1.5em;
        text-align: center;
        line-height: 50px;
    }

    .header h3{
        position: absolute;
        left: 46%;
    }
    
    textarea {
        width: 100%;
        height: 85vh;
        border: 1px solid black;
        outline: none;
    }

    .saveBtn {
        width: 50%;
        border: 1px solid black;
    }

    .cancelBtn {
        width: 50%;
        border: 1px solid black;
    }

    .transition {
        
    }
}